
.typing-indicator {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: #2cb67d;
  }
  
  .typing-indicator span {
    height: 8px;
    width: 8px;
    float: left;
    margin: 0 2px;
    background-color: #fffffe;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: 1s blink infinite;
  }
  
  .typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
